<!-- Header -->

<header class="header">
    <div class="header_inner d-flex flex-row align-items-center justify-content-start">

        <div class="logo"> <img src="images/louzan_logo.jpeg" alt="logo" width="100" height="90"></div>

        <nav class="main_nav">
            <ul>
                <li><a href="index.html">home</a></li>
                <li><a routerLink="/categories" routerLinkActive="active">About us</a></li>
                <li><a routerLink="/contact" routerLinkActive="active" href="contact.html">contact</a></li>
            </ul>
        </nav>



    </div>
</header>


<!-- Menu -->

<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
    <div class="menu_close_container">
        <div class="menu_close">
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="logo menu_mm"><a href="#">pinkyspringy</a></div>


</div>