<!-- Footer -->

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="footer_logo"><a href="#">louzan travel</a></div>
                <nav class="footer_nav">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li><a routerLink="/categories" routerLinkActive="active" href="categories.html">About us</a>
                        </li>

                        <li><a routerLink="/contact" routerLinkActive="active" href="contact.html">contact</a></li>
                    </ul>
                </nav>
                <div class="footer_social">
                    <ul>

                        <li><a href="https://www.facebook.com/LozanTravel2015/?ref=page_internal"><i
                                    class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/louzantravel/"><i class="fa fa-instagram"
                                    aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/LozanTravel"><i class="fa fa-twitter"
                                    aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="copyright">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                    template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <span>louzan
                        travel</span>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>