<div class="super_container">

  <app-header></app-header>


  <!-- Home -->

  <div class="home">

    <!-- Home Slider -->

    <div class="home_slider_container">
      <div class="owl-carousel owl-theme home_slider">

        <!-- Home Slider Item -->
        <div class="owl-item">
          <div class="home_slider_background" style="background-image:url(images/slider_1.jpeg)">
          </div>
          <div class="home_slider_content">
            <div class="home_slider_content_inner">
              <div class="home_slider_subtitle">Once Again</div>
              <div class="home_slider_title">Reunion with Greatness</div>
            </div>
          </div>
        </div>

        <!-- Home Slider Item -->
        <div class="owl-item">
          <div class="home_slider_background" style="background-image:url(images/slider_2.jpeg)">
          </div>
          <div class="home_slider_content">
            <div class="home_slider_content_inner">
              <div class="home_slider_subtitle">Once Again</div>
              <div class="home_slider_title">Reunion with Greatness</div>
            </div>
          </div>
        </div>

        <!-- Home Slider Item -->
        <div class="owl-item">
          <div class="home_slider_background" style="background-image:url(images/slider_3.jpeg)">
          </div>
          <div class="home_slider_content">
            <div class="home_slider_content_inner">
              <div class="home_slider_subtitle">Once Again</div>
              <div class="home_slider_title">Reunion with Greatness</div>
            </div>
          </div>
        </div>

      </div>

      <!-- Home Slider Nav -->

      <div class="home_slider_next d-flex flex-column align-items-center justify-content-center"><img
          src="images/arrow_r.png" alt=""></div>

      <!-- Home Slider Dots -->

      <div class="home_slider_dots_container">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="home_slider_dots">
                <ul id="home_slider_custom_dots" class="home_slider_custom_dots">
                  <li class="home_slider_custom_dot active">01.<div></div>
                  </li>
                  <li class="home_slider_custom_dot">02.<div></div>
                  </li>
                  <li class="home_slider_custom_dot">03.<div></div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Promo -->

  <div class="promo">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section_title_container text-center">

            <div class="section_title">The second oldest islamic monument in egypt</div>
          </div>
        </div>
      </div>

      <div class="row promo_container">

        <div style="

left: 30%;

">


          <iframe
            src="https://www.facebook.com/plugins/video.php?height=308&href=https%3A%2F%2Fwww.facebook.com%2Fyouthforthechallenge%2Fvideos%2F317150559756821%2F&show_text=false&width=560&t=0"
            width="560" height="308" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
            allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
            allowFullScreen="true"></iframe>

        </div>
      </div>
    </div>
  </div>


  <app-footer></app-footer>

</div>