<div class="super_container">

    <app-header></app-header>

    <div>

        <br>
        <br>
        <br>
        <br>


    </div>

    <div class="promo">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title_container text-center">

                        <div class="section_title">who we are</div>
                    </div>
                </div>
            </div>

            <p>
                <b>
                    Founded in 2013 by four travel enthusiasts who shared a thirst for adventure, and a common mission
                    to
                    break the norm. Louzan travel came to life with a goal to urge people into stepping out of their
                    comfort
                    zone.
                    While others were hopping on tour buses for touristic sightseeing, Louzan travelers would get on
                    bikes
                    and encounter locals; building human connections through cultural exchange. Louzan dedicates itself
                    to
                    covering all corners of the globe, bringing you a myriad of adventure trips to choose from.
                </b>
            </p>




        </div>
    </div>


    <app-footer></app-footer>

</div>